@use '../../sass//utils/functions' as fn;
@use '../../sass/global/colors' as color;
@import '../../sass/utils/mixins';
@import '../../sass/utils/breakpoints';

.header_container {
  @include flex_justifyBetween;
  background-color: color.$dark;
  // background-color: white;
  padding: fn.rem(32) fn.rem(166);
  border-bottom: 1.5px solid color.$lighter-dark;
  position: sticky;
  top: 0;
  z-index: 10;
  @media (max-width: 770px) {
    & {
      padding: fn.rem(32) fn.rem(32);
    }
  }

  p {
    font-weight: 700;
    font-size: fn.rem(32);
    color: color.$light-orange;
  }

  nav {
    @include flex_centered;

    @media (max-width: 770px) {
      & {
        display: none;
      }
    }

    ul {
      @include flex_centered;
      gap: 2rem;
      list-style: none;

      li {
        a {
          text-transform: uppercase;
          text-decoration: none;
          color: color.$white;
          font-size: 0.85rem;
          transition: all 0.3s ease;

          &:hover {
            color: color.$orange;
          }
        }
      }
    }
  }

  .mobile_nav {
    display: none;
    position: relative;

    @media (max-width: 770px) {
      & {
        display: flex;
      }
    }

    .icon {
      color: white;
      font-size: 2rem;
    }

    nav {
      background-color: color.$light-orange;
      position: absolute;
      padding: 3rem;
      right: 0;
      top: 4rem;
      @include flex;
      flex-direction: column;

      ul {
        width: 10rem;
        height: 10rem;
        // padding: rem;
        @include flex_centered;
        flex-direction: column;
      }

      .cart {
        @media (max-width: 770px) {
          & {
            display: flex;
            margin-top: 2rem;
          }
        }
      }
    }
  }

  .cart {
    @include flex_align;
    position: relative;
    @media (max-width: 770px) {
      & {
        display: none;
      }
    }

    small {
      position: absolute;
      padding: 0.25rem 0.5rem;
      background-color: color.$white;
      color: color.$orange;
      font-weight: 700;
      border-radius: 50%;
      top: -0.5rem;
      right: -1rem;
    }
  }
}
